# Imports/Mounts

In [2]:
import pandas as pd

In [3]:
# mount drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [5]:
data = "/content/drive/My Drive/Coursework/adult.csv"

# Load in data
df = pd.read_csv(data)
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [6]:
df.info

<bound method DataFrame.info of        age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]>

## dataframe source: https://www.kaggle.com/datasets/wenruliu/adult-income-dataset

#### The above dataset has 48,842 rows across 15 features to help predict [income] which will be our target. Each row represents a person and considering it is above or less than 50k it will be a classification problem for us. Across a dataset this large it could present rather high cardinality if not cleaned properly.

In [7]:
fpath = "/content/drive/My Drive/Coursework/Car_Insurance_Claim.csv"

# Load in data
df2 = pd.read_csv(fpath)
df2.head()

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0

In [8]:
df2.info

<bound method DataFrame.info of           ID    AGE  GENDER      RACE DRIVING_EXPERIENCE    EDUCATION  \
0     569520    65+  female  majority               0-9y  high school
1     750365  16-25    male  majority               0-9y         none
2     199901  16-25  female  majority               0-9y  high school
3     478866  16-25    male  majority               0-9y   university
4     731664  26-39    male  majority             10-19y         none
...      ...    ...     ...       ...                ...          ...
9995  323164  26-39  female  majority             10-19y   university
9996  910346  26-39  female  majority             10-19y         none
9997  468409  26-39    male  majority               0-9y  high school
9998  903459  26-39  female  majority             10-19y  high school
9999  442696  26-39  female  majority               0-9y         none

             INCOME  CREDIT_SCORE  VEHICLE_OWNERSHIP VEHICLE_YEAR  MARRIED  \
0       upper class      0.629027                1.0   after 2015      0.0
1           poverty      0.357757                0.0  before 2015      0.0
2     working class      0.493146                1.0  before 2015      0.0
3     working class      0.206013                1.0  before 2015      0.0
4     working class      0.388366                1.0  before 2015      0.0
...             ...           ...                ...          ...      ...
9995    upper class      0.582787                1.0  before 2015      0.0
9996   middle class      0.522231                1.0   after 2015      0.0
9997   middle class      0.470940                1.0  before 2015      0.0
9998        poverty      0.364185                0.0  before 2015      0.0
9999  working class      0.435225                1.0  before 2015      1.0

      CHILDREN  POSTAL_CODE  ANNUAL_MILEAGE VEHICLE_TYPE  SPEEDING_VIOLATIONS  \
0          1.0        10238         12000.0        sedan                    0
1          0.0        10238         16000.0        sedan                    0
2          0.0        10238         11000.0        sedan                    0
3          1.0        32765         11000.0        sedan                    0
4          0.0        32765         12000.0        sedan                    2
...        ...          ...             ...          ...                  ...
9995       0.0        10238         16000.0        sedan                    0
9996       1.0        32765             NaN        sedan                    1
9997       1.0        10238         14000.0        sedan                    0
9998       1.0        10238         13000.0        sedan                    2
9999       1.0        10238         13000.0        sedan                    0

      DUIS  PAST_ACCIDENTS  OUTCOME
0        0               0      0.0
1        0               0      1.0
2        0               0      0.0
3        0               0      0.0
4        0               1      1.0
...    ...             ...      ...
9995     0               1      0.0
9996     0               0      0.0
9997     0               0      0.0
9998     0               1      1.0
9999     0               0      0.0

[10000 rows x 19 columns]>

##dataframe source: https://www.kaggle.com/datasets/sagnik1511/car-insurance-data

#### The above dataset has 10,000 rows across 19 features to help predict if someone is insured so [outcome] will be our target. Each row represents a person and our only factors being whether they are insured or not means we will be using a classification model for this. With 19 features we will have to be careful which ones to use to prevent skewed results.